In [32]:
import pandas as pd
import os
import numpy as np
import sklearn

In [33]:
adapad_result = pd.read_csv("OURS_Wave_Height.csv")
adapad_result

       Unnamed: 0         timestamp  observed  is_anomaly
0               0  15/09/2021 03:30      0.29           0
1               1  15/09/2021 04:00      0.29           0
2               2  15/09/2021 04:30      0.29           0
3               3  15/09/2021 05:00      0.30           0
4               4  15/09/2021 05:30      0.29           0
...           ...               ...       ...         ...
27925       27925  19/04/2023 22:00      0.11           0
27926       27926  19/04/2023 22:30      0.11           0
27927       27927  19/04/2023 23:00      0.12           0
27928       27928  19/04/2023 23:30      0.11           0
27929       27929  20/04/2023 00:00      0.11           0

[27930 rows x 4 columns]

In [34]:
label = pd.read_csv("../1-data/Wave_Height.label.final.csv")
label

              timestamp   value  is_anomaly
0      15/09/2021 03:30    0.29           0
1      15/09/2021 04:00    0.29           0
2      15/09/2021 04:30    0.29           0
3      15/09/2021 05:00    0.30           0
4      15/09/2021 05:30    0.29           0
...                 ...     ...         ...
27973  20/04/2023 22:00 -999.00           1
27974  20/04/2023 22:30 -999.00           1
27975  20/04/2023 23:00 -999.00           1
27976  20/04/2023 23:30 -999.00           1
27977  21/04/2023 00:00 -999.00           1

[27978 rows x 3 columns]

In [35]:
label = label[:len(adapad_result)]

In [36]:
adapad_result_anomaly = adapad_result["is_anomaly"]
y_pred_scores = adapad_result_anomaly.values

In [37]:
label_anomaly = label["is_anomaly"]
y_true = label_anomaly.values

In [38]:
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_true, y_pred_scores)
print("Estimated ROC AUC:", roc_auc)

Estimated ROC AUC: 0.9922785297222368

In [40]:
y_true

array([0, 0, 0, ..., 0, 0, 0])

In [41]:
y_pred_scores

array([0, 0, 0, ..., 0, 0, 0])

In [39]:
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import auc
y, x, _ = precision_recall_curve(y_true, y_pred_scores)
pr_auc = auc(x, y)
print("Estimated PR AUC:", pr_auc)

ValueError: too many values to unpack (expected 2)